<!--<div class="alert alert-danger" [hidden]="!error">
  There was a problem logging in. Please try again.
</div>-->
<div id="login-form" [hidden]="showLoginForm">
  <form  #loginForm="ngForm" (ngSubmit)="userLogin()">
    <div class="form-group">
      <label for="username">Email:</label>
      <input type="text" class="form-control" id="username" name="username" [(ngModel)]="credentials.email"/>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" name="password" [(ngModel)]="credentials.password"/>
    </div>
    <button type="submit" class="btn btn-primary" >Submit</button>
  </form>
</div>

<div id="registration-form" [hidden]="!showLoginForm">
  <form #registrationForm="ngForm" (ngSubmit)="userRegistration()">
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="registrationCredentials.firstName"/>
    </div>
    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="registrationCredentials.lastName"/>
    </div>
    <div class="form-group">
      <label for="emailR">Email:</label>
      <input type="text" class="form-control" id="emailR" name="emailR" [(ngModel)]="registrationCredentials.email"/>
    </div>
    <div class="form-group">
      <label for="passwordR">Password:</label>
      <input type="password" class="form-control" id="passwordR" name="passwordR" [(ngModel)]="registrationCredentials.password"/>
    </div>
    <button>Submit</button>
  </form>
</div>

<div [hidden]="showLoginForm" id="new-here" class="additional-info">
  <p>New here? <a (click)="changeForm()" class="change-form-click">Sign up!</a></p>
</div>

<div [hidden]="!showLoginForm" id="already-have-an-account" class="additional-info">
  <p>Already have an account? <a (click)="changeForm()" class="change-form-click">Log in!</a></p>
</div>


