<app-navbar></app-navbar>
<h1>Hi {{currentUser.firstName}}!</h1>
<button (click)="logout()">Wyloguj</button>
<button (click)="showRoutesAsParticipantFunc()">Show routes I particiapte in</button>
<div class="my-tours">
  <div [hidden]="showRoutesAsParticipant">
    <div *ngFor="let route of routes$ | async" class="tour">
      <app-tour-map [mapDetails]="route"></app-tour-map>
      <button type="submit" (click)="resignFromTour(route.tourId, currentUser.id)">Zrezygnuj</button>
    </div>
  </div>
</div>
