<app-navbar></app-navbar>
<!--<h1>Hi {{currentUser.firstName}}!</h1>-->
<!--<button (click)="logout()">Wyloguj</button>-->

<div class="container profile-wrapper">

  <div class="row">

    <div class="col-3 avatar">
      <img class="img-fluid avatar-img" src="assets/images/avatar/avatar.png">
    </div>

    <div class="col-6 user-info">
      <div class="row justify-content-start">
        <div class="col-12">
          <p id="user-details"><i class="fa-solid fa-circle-user"></i>{{currentUser.firstName}} {{currentUser.lastName}}</p>
        </div>

        <div class="col-12">
          <p><i class="fa-solid fa-envelope"></i>{{currentUser.email}}</p>
        </div>
      </div>
    </div>

    <div class="col-3 align-content-center logout-wrapper">
      <div class="btn-logout-wrapper">
        <button id="btn-logout" (click)="logout()">Log out</button>
      </div>
    </div>

  </div>

</div>
