
$body-bg-color: #d9cece;

.bg-images {
  //background-color: $body-bg-color;
  ////transition: background-image 0.5s ease-in-out;
  //transition: background-image 0.5s ease-in-out, background-size 0.5s ease-in-out, background-position 0.5s ease-in-out;
  //background-position: 50% 25%;
  background-size: cover;
  background-position: center;
  transition: background-image 0.5s ease-in-out, background-size 0.5s ease-in-out, background-position 0.5s ease-in-out;
  width: 100%;
  height: 100vh;
}

.welcome-message {
  text-align: center;
}

.fade {
  opacity: 0;
}

#loginForm, #registrationForm {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  z-index: 1;
  opacity: 0.85;

}

.form {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 30px;
  width: 100%;
  //max-width: 450px;
  border-radius: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

::placeholder {
  font-family: inherit;
}

.input-group-text {
  background-color: transparent;
  border-right: white;
  border-radius: 10px;
}

.input-group .form-control {
  border-radius: 0 10px 10px 0;
}

input-group .form-control:focus {
  box-shadow: none;
}

.form-check-input {
  margin-right: 0.5rem;
}

.change-form {
    color: #2d79f3;
    font-weight: 500;
    cursor: pointer;
}

#btn-sign-in, #btn-sign-up {
  margin: 20px 0 10px 0;
  background-color: #151717;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  cursor: pointer;
}

#btn-apple.custom-btn, #btn-google.custom-btn {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  gap: 10px;
  border: 1px solid #ededef;
  background-color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;

  &:hover {
    border-color: #2d79f3;
  }
}
.btn-outline-secondary {
  border: 1px solid #c8c8c9;
  background-color: white;
  &:hover {
    border-color: #2d79f3;
  }
}

@media (max-width: 768px) {
  #loginForm, #registrationForm {
    width: 90%;
  }
  .form {
    padding: 20px; /* Reduce padding on smaller screens */
  }

  .inputForm {
    height: 40px; /* Reduce height of input forms */
  }

  .button-submit {
    height: 40px; /* Reduce height of submit button */
  }

  .btn {
    height: 40px; /* Reduce height of buttons */
  }
}
//.text-center a {
//  color: #2d79f3;
//  cursor: pointer;
//}
//
//.text-center a:hover {
//  text-decoration: underline;
//}

