<app-navbar></app-navbar>

<div class="container tours align-items-center">

  <div class="row justify-content-center">
    <div class="col-6 slogan">
      <h2>Find Your Next Tour</h2>
    </div>
  </div>

</div>
<ng-container *ngFor="let route of routes$ | async; let i = index">
  <ng-container *ngIf="!route.isParticipant">
    <div *ngIf="route.owner?.id !== currentUser?.id && !route.isPastToday" class="single-tour container-fluid row justify-content-between">
        <div class="left-side" id="tour-map">
          <app-tour-map [mapDetails]="route"></app-tour-map>
        </div>
        <div class="right-side container" id="info">

          <div class="row justify-content-center">
            <div class="col-6 tour-details">
              <p>Tour by <span>{{route.owner?.firstName}}</span></p>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="col-6 tour-details">
              <p>Starting point is <span>{{route.driverStartingPoint}}</span></p>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="col-4 tour-details">
              <p><i class="fa-regular fa-calendar-days"></i>{{route.tourDateConvert | date: 'dd-MM-yyyy'}}</p>
            </div>
            <div class="col-4 tour-details">
              <p><i class="fa-regular fa-clock"></i>{{route.tourDateConvert | date: 'HH:mm'}}</p>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="col-3 tour-details">
              <p><i class="fa-solid fa-route"></i>{{route.length / 1000 | number: '1.2-2'}}km</p>
            </div>
            <div class="col-3 tour-details">
              <p><i class="fa-regular fa-hourglass"></i>{{route.duration | duration}}h</p>
            </div>
            <div class="col-3 tour-details">
              <p><i class="fa-solid fa-mountain-sun"></i>{{route.mapDifficultyLevel}}</p>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="col-6 tour-details">
              <p><i class="fa-regular fa-money-bill-1"></i>{{route.participationCosts}} PLN per person</p>
            </div>
          </div>

          <div class="row justify-content-center" id="days-left">
            <div class="col-6 tour-details">
              <p>Participation ends in {{route.expDateConvert | daysDifference}} days</p>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="col-4 tour-details" id="participate-btn-wrapper">
              <button id="participate-btn" (click)="addParticipant(route.tourId, currentUser.id)">Participate</button>
            </div>
            <div class="col-4 tour-details" id="spots">
              <p><i class="fa-solid fa-person"></i>{{participantCounts[route.tourId] || 0}} of {{route.numberOfSpots}}</p>
            </div>
          </div>

        </div>
    </div>
  </ng-container>

</ng-container>
<!--<div *ngFor="let route of routes$ | async; let i = index" class="single-tour container-fluid row justify-content-between">-->

<!--  <ng-container *ngIf="!route.isParticipant">-->
<!--    <div class="left-side" id="tour-map">-->
<!--      <app-tour-map [mapDetails]="route"></app-tour-map>-->
<!--    </div>-->
<!--    <div class="right-side container" id="info">-->

<!--      <div class="row justify-content-center">-->
<!--        <div class="col-6 tour-details">-->
<!--          <p>Tour by <span>{{route.owner?.firstName}}</span></p>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="row justify-content-center">-->
<!--        <div class="col-6 tour-details">-->
<!--          <p>Starting point is <span>{{route.driverStartingPoint}}</span></p>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="row justify-content-center">-->
<!--        <div class="col-4 tour-details">-->
<!--          <p><i class="fa-regular fa-calendar-days"></i>{{route.tourDateConvert | date: 'dd-MM-yyyy'}}</p>-->
<!--        </div>-->
<!--        <div class="col-4 tour-details">-->
<!--          <p><i class="fa-regular fa-clock"></i>{{route.tourDateConvert | date: 'HH:mm'}}</p>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="row justify-content-center">-->
<!--        <div class="col-3 tour-details">-->
<!--          <p><i class="fa-solid fa-route"></i>{{route.length / 1000 | number: '1.2-2'}}km</p>-->
<!--        </div>-->
<!--        <div class="col-3 tour-details">-->
<!--          <p><i class="fa-regular fa-hourglass"></i>{{route.duration | duration}}h</p>-->
<!--        </div>-->
<!--        <div class="col-3 tour-details">-->
<!--          <p><i class="fa-solid fa-mountain-sun"></i>{{route.mapDifficultyLevel}}</p>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="row justify-content-center">-->
<!--        <div class="col-6 tour-details">-->
<!--          <p><i class="fa-regular fa-money-bill-1"></i>{{route.participationCosts}} PLN per person</p>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="row justify-content-center" id="days-left">-->
<!--        <div class="col-6 tour-details">-->
<!--          <p>Participation ends in {{route.expDateConvert | daysDifference}} days</p>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="row justify-content-center">-->
<!--        <div class="col-4 tour-details" id="participate-btn-wrapper">-->
<!--          <button id="participate-btn" (click)="addParticipant(route.tourId, currentUser.id)">Participate</button>-->
<!--        </div>-->
<!--        <div class="col-4 tour-details" id="spots">-->
<!--          <p><i class="fa-solid fa-person"></i>{{participantCounts[route.tourId] || 0}} of {{route.numberOfSpots}}</p>-->
<!--        </div>-->
<!--      </div>-->

<!--    </div>-->
<!--  </ng-container>-->
<!--</div>-->



