<app-navbar></app-navbar>
<div *ngFor="let route of routes$ | async; let i = index">
  <div *ngIf="route.owner?.id !== currentUser?.id && !route.isPastToday">
    <h1>{{route.isPastToday}}</h1>
    <h1>Owner: {{route.owner?.firstName}}</h1>
    <h2>Tour Date: {{route.tourDateConvert | date: 'dd-MM-yyyy'}}</h2>
    <h2>Tour Hour: {{route.tourDateConvert | date: 'HH:mm'}}</h2>
    <h2>Exp Date: {{route.expDateConvert}}</h2>
    <app-tour-map [mapDetails]="route"></app-tour-map>
    <div>
      <p>Participants: {{participantCounts[route.tourId] || 0}}/{{route.numberOfSpots}}</p>
      <ng-container *ngIf="participantCounts[route.tourId] >= route.numberOfSpots; else freeSpots">
        <button (click)="addParticipant(route.tourId, currentUser.id)" disabled>Participate</button>
      </ng-container>
      <ng-template #freeSpots>
        <button (click)="addParticipant(route.tourId, currentUser.id)">Participate</button>
      </ng-template>
    </div>
  </div>
</div>

