<h1>Greeting!</h1>
<!--<div>-->
<!--&lt;!&ndash;  <p>Hello {{user.}}!</p>&ndash;&gt;-->
<!--  <p>the id is {{user.id}}</p>-->
<!--</div>-->
<!--<div>-->
<!--  <p>please log in</p>-->
<!--</div>-->


<div [hidden]="authenticated()">
  <p>please <a (click)="navigateToLogin()">log in</a></p>
</div>

<div [hidden]="!authenticated()">
  <button (click)="navigateToTours()">
    TOURS
  </button>
  <button (click)="navigateToRoutePlanning()">
    ROUTE PLANNING
  </button>
  <p>Welcome {{user.firstName}} !</p>
</div>
