

<!--<div *ngIf="!authenticated()">-->
<!--  <h1>Greeting!</h1>-->
<!--  <p>please <a (click)="navigateToLogin()">log in</a></p>-->
<!--</div>-->

<!--<div *ngIf="authenticated()">-->
<!--  <app-navbar></app-navbar>-->
<!--  <div class="content">-->
<!--    <h1>Greeting!</h1>-->
<!--    <p>Welcome {{user.firstName}} !</p>-->
<!--  </div>-->
<!--</div>-->
<!--<app-navbar></app-navbar>-->
<!--<div class="content">-->
<!--  <div class="container">-->
<!--    <div class="container-fluid" id="slides" #slidesImages>-->

<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<app-navbar #navbar></app-navbar>
<div class="content" #slidesImages>
  <div class="container-fluid" id="slides">
    <div class="slogan">
      <h1 aria-label="Make memories."><span class="typewriter" ></span></h1>
    </div>
  </div>
  <div class="container">
    <div class="content-body">

    </div>
  </div>
</div>
