<div class="map-container container">

  <div class="map-frame left-side row">
    <div id="map"></div>
  </div>

  <div class="right-side justify-content-center">

    <div class="point-wrapper">
      <div class="autoComplete_wrapper col-6">
        <input id="startAutoComplete" type="text" dir="ltr" spellcheck=false autocorrect="off" autocomplete="off" autocapitalize="off" placeholder="Start">
      </div>

      <div class="add-waypoint">
        <a (click)="addWaypoint()">Add waypoint</a>
      </div>

      <div class="waypoints"></div>

      <div class="autoComplete_wrapper col-6">
        <input id="endAutoComplete" type="text" dir="ltr" spellcheck=false autocorrect="off" autocomplete="off" autocapitalize="off" placeholder="End">
      </div>
    </div>

    <div id="map-info-form" class="map-info-wrapper">
      <form #mapForm="ngForm" (ngSubmit)="onSubmit() ">
        <div class="form-group mb3">
          <label>Where are you starting your journey from?</label>
          <div class="input-group">
            <input type="text" placeholder="Enter journey's starting point" name="driverStartingPoint" [(ngModel)]="mapAdditionalInfo.driverStartingPoint">
          </div>
        </div>

        <div class="form-group mb3">
          <label>What is the difficulty level?</label>
          <div class="input-group difficulty-options">
            <label *ngFor="let difficulty of mapDifficulties" class="btn"
                   [class.active]="mapAdditionalInfo.difficultyLevel === difficulty">
              <input type="radio" name="difficultyLevel" [(ngModel)]="mapAdditionalInfo.difficultyLevel"
                     [value]="difficulty" autocomplete="off">{{ difficulty }}
            </label>
          </div>
        </div>

        <div class="form-group mb3">
          <label>What is the tour date?</label>
          <div class="input-group">
            <input type="datetime-local" placeholder="Select tour date" name="tourDate" [(ngModel)]="mapAdditionalInfo.tourDate">
          </div>
        </div>

        <div class="form-group mb3">
          <label>How many people can you take?</label>
          <div class="input-group">
            <input type="number" placeholder="Enter number of spots" name="numberOfSpots" [(ngModel)]="mapAdditionalInfo.numberOfSpots">
          </div>
        </div>

        <div class="form-group mb3">
          <label>What are the participation costs?</label>
          <div class="input-group">
            <input type="number" placeholder="Enter participation costs" name="participationCosts" [(ngModel)]="mapAdditionalInfo.participationCosts">
          </div>
        </div>

      </form>
    </div>

    <div class="buttons container">
      <div >
        <button class="btn-primary" id="btn-route" (click)="route()">Show route</button>
      </div>
      <div>
        <button class="btn-primary" id="btn-save" (click)="saveRoute()">Save route</button>
      </div>
    </div>
  </div>

</div>


