:host {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 100%;
}

.leaflet-top leaflet-right.leaflet-control-layers leaflet-control.leaflet-control-layers-toggle {
  z-index: 1;
}

.map-container.container {
  //flex: 1;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: calc(100vh - 40px);
}

.map-frame {
  flex: 1 1 60%;
  //width: 100%;
  height: 100%;
  //margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  margin: 0;
}

#map {
  z-index: 1;
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

.left-side {
  flex: 1 1 60%;
  //padding: 10px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.right-side {
  flex: 1 1 40%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
  justify-content: center;
  width: 100%;
  //border: 1px solid black;
  height: 100%;
}

.parameters {
  margin: auto;
}

.autoComplete_wrapper input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  font-size: 16px;
}

.autoComplete_wrapper input::placeholder {
  color: #888;
  opacity: 1;
}

.point-wrapper, .map-info-wrapper, .buttons, .input-group {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.point-wrapper, .map-info-wrapper, .buttons {
  //border: 1px solid black;
  padding: 5px;
  background-color: #f8f9fa;
  border-radius: 20px;
}

.input-group input, #startAutoComplete, #endAutoComplete {
  width: 100%;
  padding: 8px;
  border: 1px solid #888;
  //border-radius: 0 10px 10px 0;
  border-radius: 10px;
}

.input-group input:focus, #startAutoComplete:focus, #endAutoComplete:focus {
  outline: none;
  border-color: #2d79f3;
}

.add-waypoint {
  padding: 5px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#btn-route, #btn-save {
  //margin-top: 10px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  gap: 10px;
  border: 1px solid #ededef;
  background-color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  &:hover {
    border-color: #2d79f3;
  }
}

.difficulty-options {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.difficulty-options .btn {
  cursor: pointer;
  margin: 5px;
  border-radius: 10px;
  border: 1px solid #888;
  background-color: white;
  &:hover {
    border-color: #2d79f3;
  }
}

.btn input {
  border-right: 10px;
}

.difficulty-options .btn input[type="radio"] {
  display: none;
}

.difficulty-options .btn.active {
  background-color: #007bff;
  color: white;
}

@media (max-width: 991.98px) {
  .map-container.container {
    margin-top: calc(60px);
  }
}

@media (max-width: 768px) {
  .map-container.container {
    display: flex;
    flex-direction: column;
    //height: 200vh;
  }
  .right-side {
    height: auto;
    padding: 10px;
    //margin-top: 1000px;
    //height: 150px;
  }

  .map-frame {
    height: 300px;
  }

  .point-wrapper {
    width: 100%;
    margin-top: 250px;
  }

}
@media (max-width: 360px) {
  .point-wrapper {
    width: 100%;
    margin-top: 300px;
  }
}

