<nav class="navbar">
  <div class="navbar-logo"></div>
  <ul class="navbar-links">
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/community/tours">Tours</a></li>
    <li><a routerLink="/community/route-planning">Route planning</a></li>
    <li class="navbar-dropdown" [class.active]="isDropdownActive"><a (click)="dropdown()">Activities</a>
      <ul class="dropdown-menu" *ngIf="isDropdownActive">
        <li><a routerLink="/community/as-organizer">As organizer</a></li>
        <li><a routerLink="/community/as-participant">As participant</a></li>
      </ul>
    </li>
    <li><a routerLink="/community/profile">Profile</a></li>
  </ul>
  <div class="navbar-actions">

  </div>
</nav>
