<nav class="navbar navbar-expand-lg navbar-light bg-light" id="n">
  <div class="container-fluid ">
    <div class="fixed-top brand">
      <a class="navbar-brand" routerLink="/home"><img src="assets/logo/logo.png" class="img-fluid logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/community/route-planning">Route planning</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/community/tours">Tours</a>
        </li>
        <li class="nav-item dropdown" [class.show]="isDropdownActive">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" (click)="dropdown($event)" aria-expanded="isDropdownActive">
            Activities
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown" [class.show]="isDropdownActive">
            <li><a class="dropdown-item" routerLink="/community/as-organizer">As organizer</a></li>
            <li><a class="dropdown-item" routerLink="/community/as-participant">As participant</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/community/profile">Profile</a>
        </li>
      </ul>
      <div class="navbar-actions">

      </div>
    </div>
  </div>
</nav>





